<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" packages="org.apache.log4j.*">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %M %m %n </Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="FileAppender"
                     fileName="${path}/log/today.log"
                     filePattern="${path}/log/%d{yyyy-MM-dd}.log"
                     filePermissions="rw-r--r--">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss}  %m %n </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${path}/log" maxDepth="1">
                    <IfFileName glob="*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <AsyncLogger name="id.rdw.customexceptionresolver.resolver.NoHandlerFoundExceptionResolver" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </AsyncLogger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>
